.profile {
    &__buttons {
        &__mensaje {
            background-color: #EF6461;
            border: none;
            padding: 10px 15px;
        }
        &__seguir {
            background-color: #92DCE5;
            border: none;
            padding: 10px 15px;
        }
    }
}

.profile__perfil {
    &__img-perfil {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
    &__nombres {
        padding-left: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 14px;
            color: #ccc;
            margin-bottom: 0;
        }
    }
}