@import 'nav';
@import 'header';
@import 'main';
@import 'footer';
@import 'forms';

.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}
.profile{
  display: flex;
  justify-content: space-between;
  &__perfil{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__img-perfil{
      width: 200px;
      border-radius: 50%;
      border: 1px solid #ccc;
    }
  }
}