.contenedor__nav {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;

    &__lista ul {
        display: flex;
        list-style: none;
    }
}

@media (max-width : 576px){
    
    .contenedor__nav__lista ul li:not(:last-child){
        display: none;
    }
}



